/* Custom Scrollbar */
::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0; /* 10px */
    transition: all 300ms;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FDFEFF;
    transition: all 300ms;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F0F0F3;
    border-radius: 2px; /* 5px */
    transition: all 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E5E7EB;
    transition: all 300ms;
}
